html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  background: #4b6cb7; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -o-linear-gradient(top, #4b6cb7, #182848);
  background: -webkit-gradient(linear, left top, left bottom, from(#4b6cb7), to(#182848));
  background: linear-gradient(to bottom, #4b6cb7, #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.load, 
.load-error {
  position: absolute;
  top: 20px;
  font-family: Cinzel, serif;
  font-size: 2rem;
}

.backImg {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.city {
  font-family: Cinzel, serif;
  font-size: 4rem;
  opacity: 1;
  margin-top: 60px;
  text-align: center;
  text-shadow: 3px 3px 3px black;
}

img.svg {
  height: 200px;
}

.fogfade {
  -webkit-animation-name: fog;
          animation-name: fog;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.weather,
.temp,
.temp2,
.humidity,
.icon,
input {
  font-family: "Roboto", sans-serif;
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 5vw;
  margin-right: 5vw; 
  text-shadow: 3px 3px 3px black;
}

span {
  font-size: 2rem;
}

.weather {
  width: 45vw;
}

button.convert {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  color: yellow;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 2rem;
  padding: 12px;
  text-shadow: 2px 2px 2px black;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  -webkit-animation-name: colorChange;
          animation-name: colorChange;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

button.convert:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

button.convert:hover {
  background-color: black;
}

button.convert:focus {
  outline: none;
}

.text-field {
  /* margin-bottom: 40px; */
  margin-top: 40px;
  min-width: 40vw;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.icon {
  cursor: pointer;
  height: 3rem;
  margin-bottom: -10px;
  width: auto; 
}

input {
  background-color: rgba(0, 0, 0, .6);
  border: none;
  border-radius: 5px;
  color: yellow;
  font-weight: 200;
  width: 0;
}

input::-webkit-input-placeholder {
  color: yellow;
  opacity: .6;
  font-size: 2rem;
}

input:-ms-input-placeholder {
  color: yellow;
  opacity: .6;
  font-style: italic;
}

input::-ms-input-placeholder {
  color: yellow;
  opacity: .6;
  font-style: italic;
}

input::-moz-placeholder {
  color: yellow;
  opacity: .6;
  font-style: italic;
}

input::placeholder {
  color: yellow;
  opacity: .6;
  font-style: italic;
}

input:focus {
  outline: none;
}

footer {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#credits {
  color: yellow;
  font-family: "Roboto", sans-serif;
  opacity: .5;
  text-decoration: none;
  text-shadow: 1px 1px black;
}

@media (min-width: 1600px) {
  .city {
    font-size: 5.25rem;
  }
  button.convert {
    font-size: 3.75rem;
  }
  .weather,
  .temp,
  .temp2,
  .humidity {
    font-size: 3.5rem;
  }
  img.svg {
    height: 250px;
  }
}

@media (max-width: 1143px) {
  .weather,
  .temp,
  .temp2,
  .humidity {
    font-size: 2.5rem;
  }
}

@media (max-width: 1042px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
  }
  .weather,
  .temp,
  .temp2,
  .humidity {
    font-size: 3rem;
    width: 90vw;
  }
  .weather,
  .humidity {
    margin-bottom: 20px;
  }
  .weather {
    margin-top: 0;
  }
  button.convert {
    margin-left: 5vw;
  }
  .btn, .temp, .temp2 {
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
  }
  .text-field {
    margin-top: 70px;
  }
}

@media (max-width: 850px) {
  input {
    font-size: 3rem;
  }
  div .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.2rem;
  }
}

@media (max-width: 648px) {
  .load,
  .load-error {
    font-size: .75rem;
  }

  input::-webkit-input-placeholder {
    font-size: 1.2rem;
  }

  input::-moz-placeholder {
    font-size: 1.2rem;
  }

  input:-ms-input-placeholder {
    font-size: 1.2rem;
  }

  input::-ms-input-placeholder {
    font-size: 1.2rem;
  }

  input::placeholder {
    font-size: 1.2rem;
  }
  
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .city {
    font-size: 2.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  img.svg {
    height: 75px;
    margin-top: 10px;
  }
  .weather,
  .temp,
  .temp2,
  .humidity {
    font-size: 2rem;
  }
  .weather {
    width: 80vw;
    margin-top: 0;
  }
  .temp,
  .temp2,
  .humidity {
    margin-top: 10px;
  }
  span {
    font-size: 1.25rem;
  }
  button.convert {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .icon {
    height: 2rem;
  }
  .text-field {
    margin-top: 30px;
}
  input {
    font-size: 2rem;
  }
}
  
@media (max-width: 375px) {
  .weather,
  .temp,
  .temp2,
  .humidity {
    font-size: 1.75rem;
  }
  input {
    font-size: 1.5rem;
  }
}

@media (max-width: 325px) {
  .weather,
  .temp,
  .temp2,
  .humidity {
    font-size: 1.5rem;
  }
}

.sunny {
  background: url("https://chris-hesterman.github.io/ch-images//weather/sunny1.jpg");
  background-size: cover;
}

.clearNight {
  background: url("https://chris-hesterman.github.io/ch-images//weather/clearnight1.jpg");
  background-size: cover;
}

.cloudy {
  background: url("https://chris-hesterman.github.io/ch-images//weather/cloudy1.jpg");
  background-size: cover;
}

.rainy {
  background: url("https://chris-hesterman.github.io/ch-images//weather/rainy1.jpg");
  background-size: cover;
}

.stormy {
  background: url("https://chris-hesterman.github.io/ch-images//weather/stormy1.jpg");
  background-size: cover;
}

.foggy {
  background: url("https://chris-hesterman.github.io/ch-images//weather/foggy1.jpg");
  background-size: cover;
}

.cloudynight {
  background: url("https://chris-hesterman.github.io/ch-images//weather/cloudyNight1.jpg");
  background-size: cover;
}

.snow {
  background: url("https://chris-hesterman.github.io/ch-images//weather/snow1.jpg");
  background-size: cover;
}

@-webkit-keyframes fog {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    opacity: .4;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes fog {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    opacity: .4;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes colorChange {
  0% {
    color: yellow;
  }
  50% {
    color: red;
  }
  100% {
    color: yellow;
  }
}

@keyframes colorChange {
  0% {
    color: yellow;
  }
  50% {
    color: red;
  }
  100% {
    color: yellow;
  }
}

































